services:
  - type: web
    name: cooperativa-backend
    env: python
    buildCommand: "./build.sh"
    startCommand: "gunicorn config.wsgi:application"
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: False
      - key: OPENROUTER_API_KEY
        sync: false
      - key: OPENWEATHER_API_KEY
        sync: false
      - key: PYTHON_VERSION
        value: 3.11.0
